<section class="container legend">
  <h2 class="mt-4">category</h2>
    <div class="col-sm-9 py-1 my-1 clickable">
      <span> {{categoryId}} Mathematik</span>
    </div>
</section>

<section class="container legend">
  <h2 class="mt-4">select cards</h2>
  <div class="row " *ngFor="let card of cards; let i = index">
    <div class="col-sm-9 py-1 my-1 clickable"(click)=onClickCard(card) >
      <span> {{card.question}}</span>
    </div>
  </div>
</section>


<section class="container legend" style="width: 250pt;padding-top: 20pt">
  <h3 class="mt-4">update Cards</h3>
  <div class="container" style="padding-left: 0;">
    <div class="row">
      <input type="text" id="questionTextField"  #questionTextField class="form-control"
             placeholder="question">
    </div>
    <div class="row">
      <input type="text" id="answerTextField"  #answerTextField class="form-control"
             placeholder="answer">
    </div>
    <button class="btn btn-primary btn-sm" (click)="onNewCard()">New Card</button>
    <button class="btn btn-primary btn-sm" (click)="onUpdateCard()">Update Card</button>
  </div>
</section>



