<form class="row row-cols-lg-auto g-3 align-items-center">
  <div class="col-9">
    <div class="input-group">
      <input type="text" class="form-control" id="categoryNameTextField" #categoryNameTextField placeholder="Category Name" value="Mathematik">
    </div>
  </div>

  <div class="col-3">
    <button type="submit" class="btn btn-primary" (click)=onClickSubmit()>submit</button>
  </div>
</form>

<section class="container legend">
  <h2 class="mt-4">select cards</h2>
  <div class="row " *ngFor="let card of cards; let i = index">
    <div class="col-sm-9 py-1 my-1 clickable"(click)=onClickCard(card) >
      <span> {{card.question}}</span>
    </div>
  </div>
</section>


<section class="container legend" style="width: 250pt;padding-top: 20pt">
  <h3 class="mt-4">update Cards</h3>
  <div class="container" style="padding-left: 0;">
    <div class="row">
      <input type="text" id="questionTextField"  #questionTextField class="form-control"
             placeholder="question">
    </div>
    <div class="row">
      <input type="text" id="answerTextField"  #answerTextField class="form-control"
             placeholder="answer">
    </div>
    <button class="btn btn-primary btn-sm" (click)="onNewCard()">New Card</button>
    <button class="btn btn-primary btn-sm" (click)="onUpdateCard()">Update Card</button>
  </div>
</section>
