<section class="container legend">
  <h2 class="mt-4">User List</h2>
  <div class="row " *ngFor="let user of userList; let i = index">
    <div class="col-sm-9 py-1 my-1" (click)=onClickUser(user)>
      <span> {{user.firstName}} {{user.userName}} / {{user.mailAddress}}</span>
      <span (click)=onDelete(user) class="cmd-buttons"><i class="fa fa-trash"></i></span>
      <span (click)=onEdit(user) class="cmd-buttons"><i class="fa fa-edit"></i></span>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">EditUser</h2>
      </div>
      <div class="modal-body">
        <form class="row row-cols-lg-auto g-3 align-items-center">
          <div class="col-12">
            <div class="input-group mb-2">
              <label for="firstNameTextField">first name </label>
              <span>&nbsp;&nbsp;</span>
              <input type="text" class="form-control" id="firstNameTextField" #firstNameTextField>
            </div>
            <div class="input-group">
              <label for="userNameTextField">user name</label>
              <span>&nbsp;&nbsp;</span>
              <input type="text" class="form-control" id="userNameTextField" #userNameTextField>
            </div>
            <div class="input-group">
              <label for="mailAdressTextField">mail address</label>
              <span>&nbsp;&nbsp;</span>
              <input type="text" class="form-control" id="mailAdressTextField" #mailAdressTextField>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onSave()" >Save</button>
        <button type="button" class="btn btn-primary" (click)="onCloseHandled()" >Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->
