<section class="container legend">
  <h1 class="component-title">User List</h1>
  <div class="row " *ngFor="let user of userList; let i = index">
    <div class="col-sm-12 py-1 my-1" (click)=onClickUser(user)>
      <span> {{user.firstName}} {{user.userName}} / {{user.mailAddress}}</span>
      <span (click)=onDelete(user) class="cmd-buttons"><i class="fa fa-trash"></i></span>
      <span (click)=onEdit(user) class="cmd-buttons"><i class="fa fa-edit"></i></span>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">EditUser</h2>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="firstNameTextField" #firstNameTextField
                   placeholder="Müller" >
            <label for="firstNameTextField">first name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="test" class="form-control" id="userNameTextField" #userNameTextField
                   placeholder="Hampi" >
            <label for="userNameTextField">user name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="mailAdressTextField" #mailAdressTextField
                   placeholder="hampi.mueller@gmx.ch" >
            <label for="mailAdressTextField">mail</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="passwordTextField" #passwordTextField
                   placeholder="1234" >
            <label for="passwordTextField">password</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onSave()" >Save</button>
        <button type="button" class="btn btn-primary" (click)="onCloseHandled()" >Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->
