<section class="container legend">
  <h2 class="mt-4">select user</h2>
  <div class="row " *ngFor="let user of userList; let i = index">
    <div class="col-sm-9 py-1 my-1 clickable"(click)=onClickUser(user) >
      <span> {{user.firstName}} {{user.userName}} / {{user.mailAddress}}</span>
    </div>
  </div>
</section>

<section class="container legend">
  <h2 class="mt-4">select category</h2>
  <div class="row " *ngFor="let category of categories; let i = index">
    <div class="col-sm-9 py-1 my-1 clickable"(click)=onClickCategory(category) >
      <span> {{category.categoryName}}</span>
    </div>
  </div>
</section>

<section class="container legend" style="width: 250pt;padding-top: 20pt">
  <h3 class="mt-4">new category</h3>
  <div class="container" style="padding-left: 0;">
    <div class="row">
      <input type="text" id="categoryNameTextField"  #categoryNameTextField class="form-control"
             placeholder="category name">
    </div>
    <button class="btn btn-primary btn-sm" (click)="onCreateCategory()">Create Category</button>
  </div>
</section>
