<app-toaster></app-toaster>

<div class="container px-0 app">
  <!-- <nav class="fixed-top navbar navbar-expand-md bg-faded px-2"> -->
  <nav class="fixed-top navbar bg-body-tertiary navbar-expand-md px-3 bg-faded">
    <div [routerLink]="['/login']" class="navbar-brand"><img alt="card2brain-logo" src="assets/ic_card2brain_logo.png" width="50px"> Card2Brain
    </div>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">

      <form class="form-inline ms-auto">
        <button class="btn btn-secondary" type="button"
                [routerLink]="['/signup']">Signup</button>
        <button class="btn btn-primary ms-1" type="button"
                [routerLink]="['/login']">Login</button>
      </form>
    </div>
  </nav>

  <main class="px-3 mt-0 main">
    <router-outlet></router-outlet>
  </main>
</div>
