<app-toaster></app-toaster>

<div class="container px-0 app">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span [routerLink]="['/login']" ><img alt="card2brain-logo" src="assets/ic_card2brain_logo.png" width="50px"> Card2Brain
      </span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a [routerLink]="['/signup']" [hidden]="loggedIn" mat-button>Signup</a>
        <a [routerLink]="['/login']" [hidden]="loggedIn" mat-button>Login</a>
        <a (click)="logout()" [hidden]="!loggedIn" mat-button>Logout</a>
        <span [hidden]="!loggedIn" style="font-size:12.0pt">{{loggedUser}}</span>
        <a [routerLink]="['/info']" mat-button>?</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container [fxFlex.lt-xl]="">
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a [routerLink]="['/signup']" [hidden]="loggedIn" mat-list-item>Signup</a>
        <a [routerLink]="['/login']" [hidden]="loggedIn" mat-list-item>Login</a>
        <a (click)="logout()" [hidden]="!loggedIn" mat-list-item>Logout</a>
        <span  [hidden]="!loggedIn" style="font-size:12.0pt">{{loggedUser}}</span>
        <a [routerLink]="['/info']" mat-list-item>?</a>
      </mat-nav-list>
    </mat-sidenav>
    <main class="px-3 mt-0 main">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-container>
</div>
