
.app {
  background-color:#FFF;
  min-height: 100vh;
}

@media (max-width: 767px) {
  .navbar-collapse {
    margin-top: 10px;
  }
}

.nav-link:hover {
  background-color:#DDD;
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #301E67;
  -moz-box-shadow: 0 8px 6px -6px #301E67;

  background: linear-gradient(to left, #5B8FB9, #B6EADA);
}

.navbar-brand {
  cursor: pointer;
  width: 140px;
}

main {
  padding-top: 70px;
  padding-bottom: 70px;
}


