<div class="container">
    <div class="jumbotron" id="learn">
      <h1 class="component-title">{{cardHeader}}</h1>
      <div class="clickable" id="questionbox"
           [ngClass]="{
            'question' : actualQuestion,
            'answer' : !actualQuestion
         }">
        <p>{{cardBody}}</p>
      </div>
      <hr class="my-4">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button type="button" class="btn btn-primary" id="button-false"
                [hidden]="actualQuestion"
                (click)="onFalse()">&lt;&lt; FALSE</button>
        <button  type="button" class="btn btn-primary"
                 (click)=onClickCard()>{{buttonText}}</button>
        <button type="button" class="btn btn-primary"
                [hidden]="actualQuestion"
                (click)="onTrue()">CORRECT &gt;&gt;</button>
      </div>
    </div>
  <p>Card: {{actualCardNumber + 1}} / {{cardArrayLength}}</p>
</div>
