
.clickable:hover {
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.19),0 0 3px 3px rgba(0,0,0,0.19);
  cursor: pointer;
}
#questionbox{
  padding: 10px;
  padding-top: 100px;
  padding-bottom: 100px;
  border: 5px;
  border-color: #301E67;
  text-align:center;
  font-size: 150%;
  font-weight: bold;
}

.question {
  background-color: #bca2ea;
}

.answer {
  background-color: #673AB7;
}

#learn{
  margin-top: 50px;
  text-align: center;
}

